@font-face {
 font-family: "Normal";
 src: url("portfolio.woff2") format("woff2");
}
body{margin:0;font-family:'Normal';background:white;}
.barre{position:fixed;height:90px;background:rgb(235,235,235);width:100%;}
.barre #chat{position:absolute;height:90px;background:rgb(87,152,225);right:0px;width:180px;color:white;font-size:170%;transition:0.3s;cursor:pointer;}
.barre #chat:hover{opacity:0.6}.barre #chat:active{transition:0.1s;opacity:1;}
.barre #chat #icone {position:absolute;height:50px;width:50px;background:url(../images/commencerdiscussion.png);background-size:cover;right:20px;top:18px;}
.barre #chat #nom {position:absolute;left:20px;top:30px;}
.menu{position:fixed;height:100%;width:360px;background:rgb(235,235,235);}
.menu #case{position:relative;padding-right:13px;border-bottom:4px solid white;width:347px;transition:0.3s;cursor:pointer;}
.menu #case:hover{opacity:0.6}.menu #case:active{transition:0.1s;opacity:1;}
.menu #caseicone{position:relative;height:90px;width:90px;float:left;}
.menu #casenom{position:relative;float:left;font-size:170%;top:30px;left:10px;}