html {
    font-family: "Normal";
    position:relative;
    left:0px;
}

body {
    margin: 0;
}

@font-face {
    font-family: "Normal";
    src: url("WebApp.woff2") format("woff2");
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ventephareimg {
    opacity: 0.1;
}

#v1 {
    position: relative;
    height: 95px;
    width: 100%;
    background: white;
    border-bottom: 1px solid rgb(211, 211, 211);
    margin-bottom: 45px;
}

#v2 {
    position: absolute;
    height: 21px;
    left: 45px;
    top: 39px;
}

#v3 {
    position: relative;
    height: 21px;
    width: 104px;
    background: url(Images/template.png) -4px -5px;
    float: left;
    margin-right: 50px;
}

#v4 {
    position: relative;
    height: 21px;
    width: 25px;
    background: url(Images/template.png) -124px -5px;
    float: left;
    margin-right: 50px;
}

#v5 {
    position: relative;
    height: 21px;
    width: 21px;
    background: url(Images/template.png) -161px -5px;
    float: left;
    margin-right: 50px;
}

#v6 {
    position: absolute;
    height: 22px;
    width: 19px;
    background: url(Images/template.png) -195px -5px;
    top: 39px;
    right: 45px;
}

#v7 {
    position: absolute;
    height: 20px;
    width: 20px;
    background: red;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -7px;
    right: -10px;
}

#app {
    position: relative;
    width: calc(100% - 90px);
    left: 45px;
}

#v8 {
    position: relative;
    width: 100%;
    height: 375px
}

#v8t {
    position: absolute;
}

#v9 {
    position: relative;
    height: 100%;
    width: calc(25% - 9px);
    background: rgb(248, 192, 95);
    text-transform: uppercase;
    color: rgb(58, 10, 242);
    font-size: 250%;
    float: left;
    margin-right: 9px;
    overflow: hidden;
}

#v10 {
    position: relative;
    height: 183px;
    width: calc(20% - 9px);
    background: rgb(1, 207, 83);
    float: left;
    margin-right: 9px;
    overflow: hidden;
    text-transform: uppercase;
    color: rgb(255, 227, 42);
    font-size: 250%;
}

#v11 {
    position: relative;
    height: 183px;
    width: calc(23% - 9px);
    text-transform: uppercase;
    color: rgb(71, 71, 71);
    font-size: 250%;
    background: rgb(221, 221, 221);
    float: left;
    margin-right: 9px;
    overflow: hidden;
}

#v12 {
    position: relative;
    height: 100%;
    width: calc(16% - 9px);
    background: rgb(235, 23, 170);
    float: left;
    text-transform: uppercase;
    color: white;
    font-size: 200%;
    margin-right: 9px;
    overflow: hidden;
}

#v13 {
    position: relative;
    height: 100%;
    width: 16%;
    background: rgb(255, 70, 47);
    text-transform: uppercase;
    color: rgb(42, 72, 184);
    font-size: 200%;
    float: left;
    overflow: hidden;
}

#v14 {
    position: absolute;
    height: 183px;
    width: 26%;
    background: rgb(117, 46, 249);
    float: left;
    overflow: hidden;
    bottom: 0px;
    text-transform: uppercase;
    color: rgb(155, 240, 225);
    font-size: 200%;
    left: 25%;
}

#v15 {
    position: absolute;
    height: 183px;
    width: calc(17% - 18px);
    background: rgb(82, 40, 76);
    float: left;
    text-transform: uppercase;
    color: rgb(251, 196, 51);
    font-size: 200%;
    overflow: hidden;
    bottom: 0px;
    left: calc(51% + 9px);
}

#v16 {
    position: relative;
    color: rgb(40, 40, 40);
    font-size: 260%;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 5px;
}

#v17 {
    position: relative;
    height: 135px;
    width: 100%;
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-bottom: 3px solid rgb(63, 72, 204);
}

#v18 {
    position: relative;
    margin-right: 40px;
    float: left;
    height: 135px;
    width: 135px;
    background: rgb(81, 81, 81);
    border-radius: 100%;
    overflow: hidden;
}

#v19 {
    position: absolute;
    font-size: 120%;
    background: white;
    right: 0px;
    top: 20px;
    padding: 5px 23px 5px 10px;
}

#v20 {
    position: relative;
    float: left;
    height: 135px;
    width: 135px;
    background: rgb(81, 81, 81);
    border-radius: 100%;
    overflow: hidden;
}

#v21 {
    position: absolute;
    font-size: 120%;
    background: white;
    left: 0px;
    bottom: 20px;
    padding: 5px 10px 5px 23px
}

#v22 {
    position: relative;
    height: 555px;
    width: 100%;
    background: rgb(221, 221, 221);
    margin-bottom: 20px;
}

#v23 {
    position: absolute;
    left: 110px;
    top: 50px;
    font-size: 265%;
    color: rgb(40, 40, 40);
    text-transform: uppercase;
}

#v24 {
    position: absolute;
    height: 340px;
    min-width: 340px;
    width: 27%;
    background: white;
    left: 110px;
    top: 140px;
}

#v25 {
    position: absolute;
    font-size: 220%;
    left: 40px;
    top: 40px;
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(255, 242, 0);
}

#v26 {
    position: absolute;
    left: 40px;
    top: 110px;
    width: calc(100% - 80px);
    font-size: 120%;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    max-height: 185px;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#v27 {
    position: absolute;
    padding: 20px 30px 20px 30px;
    font-size: 210%;
    text-transform: uppercase;
    background: white;
    right: 110px;
    bottom: 75px;
}

#v28 {
    position: relative;
    height: 350px;
    width: 100%;
    margin-bottom: 50px
}

#v29 {
    position: relative;
    height: 350px;
    width: 50%;
}

#v30 {
    position: absolute;
    right: 0px;
    width: calc(100% - 180px);
    height: 100%;
    background: rgb(245, 231, 44);
}

#v31 {
    position: absolute;
    left: -180px;
    height: 250px;
    width: 350px;
    background: rgb(255, 70, 49);
    top: 52px;
}

#v32 {
    position: absolute;
    font-size: 210%;
    left: 30px;
    top: 30px;
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(255, 242, 0);
}

#v33 {
    position: absolute;
    left: 30px;
    top: 90px;
    width: calc(100% - 60px);
    font-size: 120%;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    max-height: 185px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#v34 {
    position: fixed;
    height: 100%;
    width: 400px;
    background: rgb(230,230,230);
    z-index: 999;
    top: 0px;
    right: -400px;
}

#v35 {
    position: relative;
    height: 96px;
    width: 100%;
    background: rgba(53, 217, 102, 1);
    text-transform: uppercase;
    color: white;
    font-size: 200%;
}

#v36 {
    position: absolute;
    height: 2px;
    background: rgb(80,80,80);
    width: calc(100% - 80px);
    bottom: 100px;
    right: 40px;
}

#v37 {
    position: absolute;
    font-size: 300%;
    color: rgb(80,80,80);
    bottom: 20px;
    right: 40px;
}

#v38 {
    position: relative;
    height: 120px;
    width: calc(100% - 90px);
    left: 45px;
    background: rgb(53, 217, 102);
    margin-bottom: 40px;
}

#v39 {
    position: absolute;
    height: 72px;
    width: 83px;
    background: url(Images/Template.png) -6px -40px;
    left: 30px;
    top: 25px;
}

#v40 {
    position: absolute;
    font-size: 200%;
    color: white;
    right: 30px;
    top: 45px;
    text-transform: uppercase;
}
#v41{
    position:relative;height:calc(100% - 220px);top:12px;width:90%;left:5%;
}
#v42{
    position:relative;width:100%;height:90px;background:rgba(255,255,255,0.5);
}
#v43{
    position:absolute;height:70px;width:70px;left:10px;top:10px;display:flex;justify-content:center;align-items:center;overflow:hidden;
}
#v44{
    width:300%;
}
#v45{
    position:absolute;left:90px;top:10px;color:black;font-size:150%;text-transform:uppercase;
}
#v46{
    position:absolute;left:90px;bottom:10px;
}
#v47{
    position:relative;padding:5px;background:white;color:black;font-size:125%;float:left;margin-right:10px;
}
#v48{
    position:relative;padding:5px;background:rgb(140,140,140);color:white;font-size:125%;float:left;
}

#v49{
    position:absolute;left:53px;top:33px;
}

#v50{
    position:absolute;right:0px;top:0px;height:96px;width:96px;background:rgb(35,188,81);display:flex;justify-content: center;align-items: center;
}
#v50:hover{

}

#v51{
    position:absolute;height:23px;width:23px;background:url(Images/Template.png) -190px -31px;
}